$color-g1: #31c27c;
$color-g2: #22d59c;
$color-w1: #fff;
$color-g1: #ddd;
$color-g2: #ccc;
$color-g3: #999;
$color-b1: #000;
$color-b2: #333;
$color-b3: #1a1a1a;
$color-t1: rgba(26, 26, 26, 0.5);

$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-24: 24px;
$fs-28: 28px;
$fs-32: 32px;