* {
  margin: 0;
  padding: 0;
}

*::after, *::before, * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

body {
  font-size: 18px;
  color: #999;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

p, span {
  word-break: break-all;
}

h2, h3, h4, h5 {
  color: #EE7000;
}

div.wrapper {
  width: 822px;
  max-width: 822px;
  margin: 0 auto;
  background-color: #F3F3F3;
}

div.wrapper header {
  position: relative;
  height: 142px;
  width: 100%;
  background: #EE7000;
  color: #fff;
  padding-left: 32px;
  padding-top: 46px;
}

div.wrapper header h1 {
  display: inline-block;
  line-height: 1;
  margin-bottom: 5px;
}

div.wrapper header img {
  width: 134px;
  height: 180px;
  max-width: 134px;
  max-height: 180px;
  border: 6px solid #ddd;
  position: absolute;
  right: 30px;
  top: 32px;
}

div.wrapper main {
  width: 512px;
  max-width: 512px;
  float: left;
  padding: 30px;
}

div.wrapper main div.container {
  background: #fff;
}

div.wrapper main div.container div.titleLogo {
  width: 128px;
  height: 36px;
  background: #EE7000;
  position: relative;
  line-height: 36px;
  text-align: center;
}

div.wrapper main div.container div.titleLogo h3 {
  color: #ffffff;
}

div.wrapper main div.container div.titleLogo::after {
  position: absolute;
  content: '';
  border-top: 12px solid #C45C00;
  border-left: 12px solid transparent;
  top: 36px;
  left: 0;
}

div.wrapper main div.container section.jobObjective {
  padding: 76px 22px 0 22px;
  position: relative;
  background-color: #fff;
}

div.wrapper main div.container section.jobObjective .item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: center;
}

div.wrapper main div.container section.jobObjective .item-wrapper div.item {
  display: inline-block;
  height: 30px;
  padding: 3px 6px;
  line-height: 24px;
  text-align: center;
}

div.wrapper main div.container section.jobObjective div.titleLogoWrapper {
  position: absolute;
  top: 24px;
  left: -12px;
}

div.wrapper main div.container section.project {
  margin-top: 24px;
  padding: 52px 22px 0 22px;
  position: relative;
  background-color: #fff;
}

div.wrapper main div.container section.project div.titleLogoWrapper {
  position: absolute;
  top: 0;
  left: -12px;
}

div.wrapper main div.container section.project div.projectItem hr {
  margin: 3px 0;
}

div.wrapper main div.container section.project div.projectItem p {
  font-size: 16px;
  word-break: break-all;
}

div.wrapper main div.container section.project div.projectItem div.projectItemHeader {
  padding: 16px 6px 0 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.wrapper main div.container section.project div.projectItem div.projectItemHeader h4 {
  width: 170px;
  max-width: 170px;
  display: inline-block;
}

div.wrapper main div.container section.project div.projectItem div.projectItemMain {
  display: flex;
}

div.wrapper main div.container section.project div.projectItem div.projectItemMain .projectItemText > h5 {
  margin: 3px 0;
}

div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper {
  width: 188px;
  min-width: 188px;
  height: 141px;
  max-height: 141px;
  margin-right: 6px;
  border: 1px solid #cccccc;
}

div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper img {
  width: 100%;
  height: 100%;
}

div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper.vertical {
  width: 188px;
  min-width: 188px;
  height: 220px;
  max-height: 220px;
  margin-right: 6px;
}

div.wrapper main div.container section.project:last-child {
  padding-bottom: 10px;
}

div.wrapper aside {
  width: 310px;
  max-width: 310px;
  padding-left: 24px;
  padding-right: 24px;
  float: right;
}

div.wrapper aside section.aboutMe,
div.wrapper aside section.mySkills,
div.wrapper aside section.workExperience {
  margin-top: 72px;
}

div.wrapper aside .stress {
  color: #EE7000;
}

div.wrapper aside section h3 {
  margin-bottom: 16px;
  color: #EE7000;
}

div.wrapper aside section hr {
  margin-bottom: 12px;
}

div.wrapper aside section ul li {
  padding-top: 3px;
  padding-bottom: 3px;
}

div.wrapper aside section ul li.school {
  display: flex;
}

div.wrapper aside section ul span {
  margin-left: 0.3em;
}

div.wrapper aside section.workExperience dd {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  div.wrapper {
    width: 100vw;
    max-width: 100vw;
  }
  div.wrapper header {
    height: 200px;
    padding-left: 3vw;
    padding-top: 46px;
  }
  div.wrapper header p {
    max-width: 60vw;
  }
  div.wrapper header h1 {
    display: inline-block;
    line-height: 1;
    margin-bottom: 5px;
  }
  div.wrapper header img {
    width: 134px;
    height: 180px;
    max-width: 134px;
    max-height: 180px;
    border: 6px solid #ddd;
    position: absolute;
    right: 3vw;
    top: 10px;
  }
  div.wrapper main {
    width: 100vw;
    padding: 3vw;
    float: none;
  }
  div.wrapper main div.container {
    background: #fff;
  }
  div.wrapper main div.container div.titleLogo {
    width: 128px;
    height: 36px;
    background: #EE7000;
    position: relative;
    line-height: 36px;
    text-align: center;
  }
  div.wrapper main div.container div.titleLogo h3 {
    color: #ffffff;
  }
  div.wrapper main div.container div.titleLogo::after {
    position: absolute;
    content: '';
    border-top: 12px solid #C45C00;
    border-left: 12px solid transparent;
    top: 36px;
    left: 0;
  }
  div.wrapper main div.container section.jobObjective {
    padding: 76px 22px 0 22px;
    position: relative;
    background-color: #fff;
  }
  div.wrapper main div.container section.jobObjective .item-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    align-items: center;
  }
  div.wrapper main div.container section.jobObjective .item-wrapper div.item {
    display: inline-block;
    height: 30px;
    padding: 3px 6px;
    line-height: 24px;
    text-align: center;
  }
  div.wrapper main div.container section.jobObjective div.titleLogoWrapper {
    position: absolute;
    top: 24px;
    left: -12px;
  }
  div.wrapper main div.container section.project {
    margin-top: 24px;
    padding: 52px 22px 0 22px;
    position: relative;
    background-color: #fff;
  }
  div.wrapper main div.container section.project div.titleLogoWrapper {
    position: absolute;
    top: 0;
    left: -12px;
  }
  div.wrapper main div.container section.project div.projectItem hr {
    margin: 3px 0;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemHeader {
    padding: 26px 6px 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemHeader h4 {
    display: block;
    min-width: 80vw;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemHeader .duration {
    font-size: 16px;
    min-width: 180px;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemMain {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemMain .projectItemText > h5 {
    margin: 3px 0;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper {
    width: 100%;
    height: 141px;
    max-height: 141px;
    border: 1px solid #cccccc;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper img {
    width: 100%;
    height: 100%;
  }
  div.wrapper main div.container section.project div.projectItem div.projectItemMain .img-wrapper.vertical {
    width: 100%;
    height: 220px;
    max-height: 220px;
    margin-right: 6px;
  }
  div.wrapper main div.container section.project:last-child {
    padding-bottom: 10px;
  }
  div.wrapper aside {
    width: 100vw;
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
    float: none;
  }
  div.wrapper aside section.aboutMe,
  div.wrapper aside section.mySkills,
  div.wrapper aside section.workExperience {
    margin-top: 30px;
  }
  div.wrapper aside .stress {
    color: #EE7000;
  }
  div.wrapper aside section h3 {
    margin-bottom: 16px;
    color: #EE7000;
  }
  div.wrapper aside section hr {
    margin-bottom: 12px;
  }
  div.wrapper aside section ul li {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  div.wrapper aside section ul li.school {
    display: flex;
  }
  div.wrapper aside section ul span {
    margin-left: 0.3em;
  }
  div.wrapper aside section.workExperience dd {
    display: flex;
    justify-content: space-between;
  }
}

@media print {
  #page-break-flag .img-wrapper.vertical {
    width: 188px;
    min-width: 188px;
    height: 180px;
    max-height: 180px;
    margin-right: 6px;
  }
}
