// @function px( $px ){
//   @return $px/$designWidth*10 + rem;
// }

// $designWidth : 936; // 数值是设计稿的宽度，你要根据设计稿的宽度填写

*{margin: 0; padding: 0}
*::after, *::before, *{ box-sizing: border-box;}
a { text-decoration: none; color: inherit; }
ul, ol{ list-style: none; }
body{font-size: 18px; color: #999;}
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}
.icon{
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

p, span{
    word-break: break-all;
}

@media print{
    #page-break-flag{
        page-break-after: always;
    }
}

h2, h3, h4, h5{
    color: #EE7000;
}
div.wrapper{
    // width: px(822);
    width: 822px;
    max-width: 822px;
    margin: 0 auto;
    background-color: #F3F3F3;
}

header{
    position: relative;
    height: 142px;
    width: 100%;
    background: #EE7000;
    color: #fff;
    padding-left: 32px;
    padding-top: 46px;
}

header > h1{
    display: inline-block;
    line-height: 1;
    margin-bottom: 5px;
}

header > img {
    // width: px(134);
    width: 134px;
    // height: px(180);
    height: 180px;
    max-width: 134px;
    max-height: 180px;
    border: 6px solid #ddd;
    position: absolute;
    right: 30px;
    top: 32px;
}

main{
    // width: px(512);
    width: 512px;
    max-width: 512px;
    float: left;
    padding: 30px;
}

aside{
    // width: px(310);
    width: 310px;
    max-width:310px;
    float: right;
}

div.container{
    background: #fff;
}

div.titleLogo{
    width: 128px;
    height: 36px;
    background: #EE7000;
    position: relative;
    line-height: 36px;
    text-align: center;
}

div.titleLogo > h3{
    color: #ffffff;
}

div.titleLogo::after{
    position: absolute;
    content: '';
    border-top: 12px solid #C45C00;
    border-left: 12px solid transparent;
    top: 36px;
    left: 0;
}

section.jobObjective{
    padding: 76px 22px 0 22px;
    position: relative;
    background-color: #fff;
}
section.jobObjective > div.titleLogoWrapper{
    position: absolute;
    top: 24px;
    left: -12px;
}
section.project{
    margin-top: 24px;
    padding: 52px 22px 0 22px;
    position: relative;
    background-color: #fff;
}

div.titleLogoWrapper{
    position: absolute;
    top: 0;
    left: -12px;
}

div.item{
    display: inline-block;
    height: 30px;
    padding: 3px 6px;
    line-height: 24px;
    text-align: center;
}

div.projectItem > div.projectItemHeader{
    padding: 16px 6px 0 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.projectItem > div.projectItemHeader > h4{
    // width: px(170);
    width: 170px;
    max-width: 170px;
}

div.projectItem > hr{
    margin: 3px 0;
}

div.projectItem  p{
    font-size: 16px;
    word-break: break-all;
}

div.projectItem > div.projectItemHeader > h4{
    display: inline-block;
}

div.projectItem > div.projectItemMain{
    display: flex;
}

div.projectItem > div.projectItemMain {
    .img-wrapper{
        // width: px(188);
        width: 188px;
        max-width: 188px;
        min-width: 188px;
        // height: px(141);
        height: 141px;
        max-height: 141px;
        margin-right: 6px;
        border: 1px solid #cccccc;
        img{
            width: 100%;
            height: 100%;

        }
    }
    .img-wrapper.vertical{
        // width: px(188);
        width: 188px;
        max-width: 188px;
        min-width: 188px;
        // height: px(141);
        height: 220px;
        max-height: 220px;
        margin-right: 6px;
    }
}

div.projectItem > div.projectItemMain > .projectItemText > h5{
    margin: 3px 0;
}

aside{
    padding-left: 24px;
    padding-right: 24px;
}

aside > section.aboutMe,
aside > section.mySkills,
aside > section.workExperience{
    margin-top: 72px;
}

aside > section > h3{
    margin-bottom: 16px;
    color: #EE7000;
}
.stress{
    color: #EE7000;
}

aside > section > hr {
    margin-bottom: 12px;
}

aside > section > ul > li{
    padding-top: 3px;
    padding-bottom: 3px;
}

aside > section > ul > li.school{
    display: flex;
}

aside > section > ul > li.school  > span{
    margin-left: 0.3em;
}

aside > section.workExperience dd {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px){
    div.wrapper{
        width: 100vw;
        max-width: 100vw;
        margin: 0 auto;
        background-color: #F3F3F3;
    }
    header{
        position: relative;
        height: 200px;
        width: 100%;
        background: #EE7000;
        color: #fff;
        padding-left: 2vw;
        padding-top: 46px;
        p{
            max-width: 60vw;
        }
    }
    
    header > h1{
        display: inline-block;
        line-height: 1;
        margin-bottom: 5px;
    }
    
    header > img {
        // width: px(134);
        width: 134px;
        // height: px(180);
        height: 180px;
        max-width: 134px;
        max-height: 180px;
        border: 6px solid #ddd;
        position: absolute;
        right: 2vw;
        top: 10px;
    }

    main{
        width: 100vw;
        padding: 3vw;
    }
    
    aside{
        // width: px(310);
        width: 310px;
        max-width:310px;
        float: right;
    }
}